.btn-pill {
  background-color: #FF3B30;
  margin-left: 10px;
  color: #fff;                
  border-radius: 50px;  
  font-weight: 400;           
  font-size: 1rem;            
  padding: 0.5rem 1.5rem;
  display: flex;     
  cursor: pointer;             
  transition: all 0.3s ease;   
  font-family: "Bounded-Variable", sans-serif;
}

.navbar .btn-pill:hover {
  background-color: #fff;      
  color: #000;             
}