$navbar-height: 64px;

$font_family_bounded: "Bounded-Variable", sans-serif;
$font_family_manrope: "Manrope-Variable", sans-serif;

$color-text_primary: #E0E0E0;
$color-text_hover: #C0C0C0;

$navbar-gradient: linear-gradient(
    180deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(38, 38, 38, 1) 100%
);
