<!DOCTYPE html>
<html>
    <head>
        {% if title%}
        <title>{{ title }} - Blog</title>
        {% else %}
        <title>*NAME* - Blog</title>
        {% endif %}
    </head>
    <body>
        <nav>
            {% if current_user.is_authenticated %}
                😁
                <a href="{{ url_for('index') }}">Home</a> »
                <a href="{{ url_for('about') }}">About</a> »
                <a href="{{ url_for('profile.user', username=current_user.username) }}">Profile</a> »
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% elif request.endpoint == 'auth.register' %}
                Have you been here before? »
                <a href="{{ url_for('auth.login') }}">Login</a>
            {% elif request.endpoint == 'auth.login' %}
                For the first time here? »
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
